/* main global styles */

body {
    background-image: url('../images/background/pexels-tomfisk-3448250.webp');
    font-family: "Train One", sans-serif;
    text-align: center;
}
    
/* header, sub-header & username display */
    
.header {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 4px;
    color: white;
}
    
#subheader {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: white;
}

#username-display {
    text-align: center;
    letter-spacing: 2px;
    margin: 0px;
}
    
/* game space */
    
.game-space {
    background-color: rgba(172, 230, 185, 0.7);
    box-sizing: border-box;
    width: 85%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border: 5px solid white;
}

#signup-space {
    font-family: "Graduate", sans-serif;
    margin: auto;
    color: #333;
}

#username-input {
    font-size: 1.2rem;
    border: 2px solid #333;
}

#signup {
    font-size: 1.2rem;
    border: 2px solid #333;
}

#begin {
    font-family: "Graduate", sans-serif;
    background-color: white;
    border: 2px solid #333;
    color: #333;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

h3 {
    color: #333;
}

#answer-input {
    align-items: center;
}

#badge-space {
    margin-left: 75px;
    margin-right: 50px;
}

#badge-space h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
    
.answer-btn {
    font-family: "Graduate", sans-serif;
    background-color: white;
    border: 5px solid #333;
    color: #333;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.correct {
    background-color: rgba(145, 211, 127, 0.66);
    border: 6px solid rgba(34, 255, 0, 1)
}

.incorrect {
    background-color: rgba(233, 27, 27, 0.45);
    border: 6px solid rgba(255, 0, 0, 1);
}

#next {
    font-family: "Graduate", sans-serif;
    background-color: #ebe410;
    border: 2px solid white;
    color: #333;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

#reset {
    font-family: "Graduate", sans-serif;
    background-color: #04AA6D;
    border: 2px solid white;
    color: #333;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.break {
    padding: 20px;
}
    
.progress {
    background-color: #04AA6D;
    padding: 2px;
}

#playAgainBtn {
    font-family: "Graduate", sans-serif;
    background-color: #04AA6D;
    border: 2px solid white;
    color: #333;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
    
#badge-space {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    display: none;
}
    
#answer-space {
    display:none;
    flex-direction: column;
}
    
input {
    font-family: "Graduate", sans-serif;
    background-color: white;
    border: 2px solid #04AA6D;
    color: #333;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}
    
/* media queries for general responsivity */

/* tablet size to desktop */

@media screen and (min-width: 767px) {
    body {
        padding: 150px;
        }

    #game-space {
    }
    
    #badge-space {

    }

    #answer-input {
        float: right;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    #answer-input button {
        font-size: 1.4rem;
    }
    
    .answer-btn {  
        display: flex;
        flex-direction: column;
        margin-bottom:10px;
        margin-top:10px;
    }

    #reset {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* desktop size */
    
@media screen and (min-width: 992px) {
    
    body {
        padding: 150px;
        }

    #game-space {

    }
    
    #answer-input {
        float: right;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    #answer-input button {
        margin-bottom: 50px;
        margin-left: 50px;
        font-size: 1.4rem;
    }
    
    .answer-btn {

    }

    #reset {
        margin-left: 50px;
    }
}
    